body{
    background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(50,50,201,1) 0%, rgba(49,71,173,1) 20%, rgba(27,89,168,1) 36%, rgba(22,108,184,1) 48%, rgba(2,159,220,1) 88%, rgba(44,186,214,1) 100%, rgba(43,174,200,1) 100%);
}

.css-sprite{
    background-image: url('./imagem-sprite.png');
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-face{
    width: 65px;
    height: 61px;
    border: 1px solid black;
    background-position: -41px -24px;
}

.sprite-youtube{
    width: 65px;
    height: 61px;
    border: 1px solid black;
    background-position: -345px -24px;

}